server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/auth_db
    username: root
    password: root@123   # change if needed

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# ============================
# JWT CONFIG
# ============================

jwt:
  secret: ${JWT_SECRET:atharvgorakhlokhandemobilenumber8530396494}
