server:
  port: 8086

spring:
  application:
    name: api-gateway

  cloud:
    gateway:

      forwarded:
        enabled: true

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/users/**

        - id: property-service
          uri: http://localhost:8083
          predicates:
            - Path=/properties/**

        - id: enquiry-service
          uri: http://localhost:8084
          predicates:
            - Path=/enquiries/**

        - id: cart-service
          uri: http://localhost:8085
          predicates:
            - Path=/cart/**

# ============================
# JWT CONFIG
# ============================

jwt:
  secret: ${JWT_SECRET:atharvgorakhlokhandemobilenumber8530396494}

# ============================
# ACTUATOR (OPTIONAL)
# ============================

management:
  endpoints:
    web:
      exposure:
        include: health,info
